.itemcontainer {
    padding: 10px;
    margin: 30px;
    border-style: solid;
    border-color: #dbdbdb;
    border-width: 1px;
    display: flex;
    flex-direction:row;
    align-items: center;
}

.textcontainer {
    margin: 20px;
    display:flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

h3 {
    margin: 2px;
    padding: 2px;
    color:#FF9B00;
}

.button {
    padding: 5px;
    background-color: #4A046B;
    color: white;
    border: none;
}