.buttonc {
    color: rgb(255, 255, 255);
    background-color: rgb(74, 4, 107);
    padding: 10px;
    border: none;
    margin: 10px;
}

.cartList {
    height: 100%h;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: stretch;
    justify-content:left;
}